# Required
VIP_IP=10.42.20.5

# Required
K8S_ENDPOINT=kube.example.com

# Optional - set to add a custom CA to system trust store
CA_CERT="$(cat /path/to/ca.pem)"

# Optional - defaults to eth0
NETWORK_INTERFACE=eth0
