.vite/
*.key
*.key.pem
.DS_Store
keys/
pki/
private/
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfstate
*.tfstate.backup
postgres-data/
routeros-backup.backup
secrets.yaml
controlplane.yaml
worker.yaml
talosconfig
