# Squid ACL : localnetsites
# ACL type  : dstdomain
# ACL info  : List of destination sites in local network (Corp.sites in internal networks)
#
# 
# .sub.local1.com
# .sub2.local2.com
# .local3.com
.${domain}
# .plex.tv
# .youtube.com