[defaults]
inventory = inventories/inventory.yml
roles_path = roles
library = /usr/lib/python3/dist-packages/ansible/modules

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[connection]
pipelining = True

[strategy]
inventory = cache
