:8080 {
    header Content-Type text/plain
    respond /.well-known/mta-sts.txt `version: STSv1
    mode: testing
    mx: ${publicDomain}
    mx: _dc-mx.a4e6ddf75a56.${publicDomain}
    max_age: 604800` 200
}